@use "../../styles/vars";

.footer {
  @include vars.container;
  text-align: center;

  & > &--title {
    // => .footer .footer--title
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  & > &--text {
    // => .footer .footer--title
    color: vars.$alternative-color; // pour @use on doit pre-fixer avec le nom de la variable, on prefere l'utiliser car plus optimiser

    // color: $text-alt-color; // pour @import on peut directement utiliser la variable
  }
}