@use "../../styles/vars";

.app {
  height: 100vh;
  width: 300px;
  margin: 0 auto;
  position: relative;
  padding-top: 2em;
}

.header {
  background-color: vars.$color-main;
  color: vars.$color-light;
  text-align: center;
  padding: vars.$gutter * 3 0;

  & > &-title {
    font-size: vars.$title-size;
    font-weight: vars.$text-weight;
  }

  & > &-amount {
    margin-top: vars.$gutter;
    font-size: vars.$subtitle-size;
  }
}

.currencies {
  background-color: vars.$color-light;
  max-height: 250px;
  overflow-y: auto;

  & > &-title {
    padding: vars.$gutter;
    margin-top: vars.$gutter;
    font-weight: vars.$title-weight;
  }

  & > &-list {
  }

  .currency {
    padding: vars.$gutter;
    border-top: 1px solid vars.$color-alt;
    font-weight: vars.$currency-weight;
    transition: background-color vars.$transition-slow;
    cursor: pointer;

    &:hover {
      background-color: vars.$color-alt;
      transition-duration: vars.$transition-fast;
    }
  }
}

.amount {
  background-color: vars.$color-light;
  padding: vars.$gutter * 3 0;
  text-align: center;

  & > &-value {
    font-weight: vars.$title-weight;
    font-size: vars.$title-size;
  }

  & > &-currency {
    margin-top: vars.$gutter;
    font-size: vars.$subtitle-size;
  }
}
