@use "../../styles/vars";

.currencies {
  background-color: vars.$color-light;
  max-height: 250px;
  overflow-y: auto;

  &-search {
    &-input {
      border: none;
      padding: vars.$gutter;
    }
  }
}
