@use "../../styles/vars";

.currencies {
  background-color: vars.$color-light;
  max-height: 250px;
  overflow-y: auto;

  & > &-title {
    padding: vars.$gutter;
    margin-top: vars.$gutter;
    font-weight: vars.$title-weight;
  }

  & > &-list {
  }
}